image: debian:stable

pages:
  stage: deploy
  script:
    - apt-get update && apt-get dist-upgrade -y
    - apt-get install -y ca-certificates
    - mkdir .public
    - cp -r * .public
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - main
