h2 {
    background: linear-gradient(to right, #ff6b81, #fcb045);
    color: transparent;
    -webkit-background-clip: text;
}

a {
    color: #428bca;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

a:hover {
    color: #0072ff;
    -webkit-background-clip: text;
}

p,
pre {
    background: #3c9291;
    color: transparent;
    -webkit-background-clip: text;
}

.footer {
    background: black;
    color: transparent;
    -webkit-background-clip: text;
}

.tit {
    color: purple;
    -webkit-background-clip: text;
}

hr {
    size: 1;
    position: relative;
    border-bottom: 1px dotted;
    color: #fcb045;
}

#terminal {  
    font-family: monospace;  
    white-space: pre-wrap;  
    border: 1px solid #ccc;  
    padding: 10px;  
    background-color: #222;  
    color: #ccc;  
    overflow-y: scroll;  
    height: 100px;  
}  

#input {  
    width: calc(100% - 22px);  
    padding: 10px;  
    font-family: monospace;  
    border: 1px solid #ccc;  
    margin-top: 10px;  
}  