; /etc/xl2tpd/xl2tpd.conf
; 示例l2tpd配置文件,由ARKFUTURE翻译编辑并校对(中文),使用统一的UTF-8
; 此原版配置文件基于Debian12+提取,请酌量适配其他系统;同时此文件不应该出现
; 所有中文的符号
;
; 这个示例文件应该让你对 l2tpd 的选项应该如何工作有所了解。 
; 查找所有选项列表的最佳位置是在源代码本身中，直到我有时间编写更好的文档:) 
; 具体来说,文件 file.c 在末尾包含一个命令列表
;
; 你绝对不必像这里那样把所有的东西都拼出来
;
; [global]								; 全局参数:
; port = 1701						 	; * 绑定到1701端口
; auth file = /etc/l2tpd/l2tp-secrets 	; * 我们的身份验证文件
; access control = yes					; * 拒绝没有授权的IP连接
; rand source = dev                     ; 随机熵的来源
;                                       ; 数字, 选项为:
;                                       ; dev - 读取 /dev/urandom
;                                       ; sys - 使用 rand()
;                                       ; egd - reads from egd socket
;                                       ; egd 暂时没有实现
;
; [lns default]							; 我们的LNS定义
; exclusive = no						; * 每个主机只允许一个隧道
; ip range = 192.168.0.1-192.168.0.20	; * 从此ip范围分配
; no ip range = 192.168.0.3-192.168.0.9 ; * 除了这些主机
; ip range = 192.168.0.5				; * 使用示例
; ip range = lac1-lac2					; * 使用示范
; lac = 192.168.1.4 - 192.168.1.8		; * 这些可作为 LAC's 连接
; no lac = untrusted.marko.net			; * 这些不能作为 LAC's 连接
; hidden bit = no						; * 使用隐藏 AVP's?
; local ip = 192.168.1.2				; * 我们使用的本地ip
; local ip range = 192.168.200.0-192.168.200.20   ; 或者使用一个范围进行本地寻址
; length bit = yes						; * 在有效载荷中使用长度位?
; require chap = yes					; * 需要 CHAP 身份验证. by peer
; refuse pap = yes						; * 拒绝 PAP 身份验证
; refuse chap = no						; * 拒绝 CHAP 神烦验证
; refuse authentication = no			; * 完全拒绝身份验证
; require authentication = yes			; * 要求对等方进行身份验证
; unix authentication = no				; * 使用 /etc/passwd 的身份验证
; name = myhostname						; * 将其报告为我们的主机名
; ppp debug = no						; * 打开 PPP 调试
; pppoptfile = /etc/ppp/options.l2tpd.lns	; * ppp 的配置文件
; call rws = 10							; * RWS 呼叫 (-1 是有效的)
; tunnel rws = 4						; * RWS 隧道 (必须是 > 0)
; flow bit = yes						; * 包括序列号
; challenge = yes						; * 质询身份验证对等
; rx bps = 10000000				; 接收隧道速度
; tx bps = 10000000				; 传输通道速度
; bps = 100000					; 在一个选项中定义接收和传输速度

; [lac marko]							; 定义 VPN LAC 示例
; lns = lns.marko.net					; * 谁是我们的 LNS?
; lns = lns2.marko.net					; * 备份 LNS (尚未使用)
; redial = yes							; * 断开连接后重拨?
; redial timeout = 15					; * 两次重拨之间等待n秒
; max redials = 5						; * 连续n次失败后放弃
; hidden bit = yes						; * 用户隐藏 AVP's?
; local ip = 192.168.1.1				; * 强制同行为我们使用此ip
; remote ip = 192.168.1.2				; * 强制对等方使用此作为其ip
; length bit = no						; * 在有效载荷中使用长度位?
; require pap = no						; * 需要 PAP 身份验证. by peer
; require chap = yes					; * 需要 CHAP 身份验证. by peer
; refuse pap = yes						; * 拒绝 PAP 身份验证
; refuse chap = no						; * 拒绝 CHAP 身份验证
; refuse authentication = no			; * 完全拒绝身份验证
; require authentication = yes			; * 要求对等方进行身份验证
; name = marko							; * 将其报告为我们的主机名
; ppp debug = no						; * 开启 PPP 调试
; pppoptfile = /etc/ppp/options.l2tpd.marko	; * ppp 选项文件 lac
; call rws = 10							; * RWS 呼叫 (-1 是有效的)
; tunnel rws = 4						; * RWS 隧道 (必须是 > 0)
; flow bit = yes						; * 包括序列号
; challenge = yes						; * 质询身份验证对等 
;
; [lac cisco]							; 另一个 LAC
; lns = cisco.marko.net					; * 必需,但可以取自默认值
; require authentication = yes			