h2 {
  background: linear-gradient(to right, #ff6b81, #fcb045);
  color: transparent;
  -webkit-background-clip: text;
}

a {
  color: #428bca;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
}

a:hover {
  color: #0072ff;
  -webkit-background-clip: text;
}

p,
pre {
  background: #3c9291;
  color: transparent;
  -webkit-background-clip: text;
}



.tit {
  color: purple;
  -webkit-background-clip: text;
}

hr {
  size: 1;
  position: relative;
  border-bottom: 1px dotted;
  color: #fcb045;
}
footer {
  background: black;
  color: transparent;
  -webkit-background-clip: text;
  border: 2px solid #00000009; /* 边框颜色和厚度 */
  border-radius: 15px; /* 圆角的半径 */
  padding: 10px; /* 内边距 */
}